

:root {

    --ms-primary-color: #001e43;
    --ms-secondary-color: rgb(255, 153, 59);
    --ms-dark-color:#1b1b1b ;
    --ms-light-color:  #DFE3E4 ;
    --ms-navbar-toggler-glow: rgba(255, 153, 59, .6);
    --ms-navbar-toggler-color: #ff993b;
}










/* sticky footer start */

html,
body {

    height: 100%;
}

body {
    display: flex;
    flex-direction: column;
}

.content {
    flex: 1 0 auto;
    margin-top: 1rem;
}

footer {
    flex-shrink: 0;
}

/* sticky footer end */



/* navbar override START */
#mainNav {
    background-color: var(--ms-primary-color);
}

#mainNav button {
    border-color: var(--ms-secondary-color);
}

.navbar-toggler {
    color: var(--ms-navbar-toggler-glow);
}

.navbar-toggler-ms {
    color: var(--ms-navbar-toggler-color);
    font-size: 1.5rem;
}

/* navbar override END */






/* footer customization START */

footer {
    background-color: var(--ms-primary-color);
    color: var(--ms-dark-color);

}

.socialicons {
    font-size: 2rem;
    padding-left: .5rem;
    color: var(--ms-light-color);
}

.socialicons:hover {
    color: var(--ms-secondary-color);
}


/* footer customization END */



.appLogo {
    max-width: 400px;
    border-radius: 10px;
}

.checkList {
    list-style-type: none;
}


.checkList>li i {
    color: var(--ms-secondary-color);
    padding-right: .5rem;
}


.devIcons {
    font-size: 4rem;
    padding-left: .5rem;
}